<p>Modify List Item works!</p>
<form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="id">ID:</label>
    <input id="id" formControlName="id" type="number" />

  </div>

  <div>
    <label for="name">Name:</label>
    <input id="name" formControlName="name" />

  </div>

  <div>
    <label for="director">Director:</label>
    <input id="director" formControlName="director" />

  </div>



  <div>
    <label for="year">Year:</label>
    <input id="year" formControlName="year" type="number" />

  </div>

  <div>
    <label for="alreadyWatched">Already Watched:</label>
    <input id="alreadyWatched" formControlName="alreadyWatched" type="checkbox" />
  </div>

  <button type="submit" [disabled]="movieForm.invalid">Submit</button>

</form>
